header{
	font-size:10pt;
	font-family:Purisa;
	text-align: center;
}
body{
	font-family:Purisa;
	background-image:url(hehe.jpg);
}

article{
	margin:auto;
	width:50%;
	text-align:center;
	color:black;
}
.banner{
	font-size:10pt;
}

img{
	width:250px;
	border:1px solid black;
	margin:auto;
}
section{
	margin:auto;
	clear:both;
}
